<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="lol">
<div class="card mt-4" style="width: 18rem;">
    <div id ='dane' class="card-body">
        {% if gra %}
            <p>Swoją grę znajdziesz pod adresem <a href="{% url 'memory' id=gra.id %}">{% url 'memory' id=gra.id %}</a></p>
        {% else %}
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ memory |crispy }}
            <input type="submit">
        </form>
        {% endif %}

</div>
    </div>
    </div>
</div>



{% endblock %}